.searchbar-container {
  width: 30%;
  background-color: whitesmoke;
  border-radius: 50px;

  margin: auto;
  margin-top: 100px;
  padding: 10px;
}
.searchbar-container input {
  width: 97%;
  margin-bottom: 5px;
  margin-left: 5px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: whitesmoke;
}

.searchbar-container input::-webkit-input-placeholder {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: medium;
  color: lightgray;
}
