.card-container {
  display: flex;
  transition: transform 0.2s;
  flex-direction: column;
  margin: 5px;
}

.cardItem-container {
  background-color: whitesmoke;
  transition: transform 0.2s;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 50px;
  padding-top: 20px;
}

.blur {
  opacity: 0.5;
}

.card-container:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.card-container:hover .cardItem-container {
  border: 5px solid black;
}
